body{
    margin: 0;
    padding: 0;
}

/* .navbar{
    margin-bottom: 50px !important;
} */

.navbar-brand{
    font-size: 34px;
    font-weight: bold;
}

.navbar-nav-ul li a {
    margin: 0 10px;
}

/* carousal start */

.carousel-inner{
    position: relative;
}

.carousel-item::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background: #000000a1;
}
.carousel-item img{
    height:100vh;
}

.carousel-caption{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel-caption h5{
    font-size: 54px;
}

/* course start */

.course_content_wrapper{
    margin: 10px 0;
}

/* ready to join start */
.ready{
    background: rgb(3, 126, 202);
    padding: 40px;
}

.student_item{
    margin: 20px 0;
    border: 1px solid rgb(221, 217, 217);
}
.student_item img{
    width: 100%;
}
.student_item h3{
    font-size: 23px;
    margin-bottom: 3px;
}
.student_item h3,p{
    margin-left: 10px;
    margin-top: 10px;
}



/* faq start  */
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
    background:#c6e0f0;
    color: #373d42;
}

.accordion-item button{
    font-weight: bold;
    font-size: 20px;
    color: #373d42;
}

.accordion-body{
    color: rgb(134, 128, 128);
    font-size: 18px;
}
/* faq end  */

/* company start */
.company_image{
    /* border: 1px solid red; */
    margin: 20px;
}
/* company end */

/* fotoer start */
footer{
    background: rgb(20, 20, 20);
}

.footer_social_icon i{
    margin: 10px;
    
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    border:1px solid #312f2f;
    transition: all .3s ease-in-out;
}

.footer_social_icon i:hover{
    background: #312f2f;
}
/* fotoer end */

/* media query start */
@media screen and (max-width:1200px) {
    .carousel-caption{
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-0%, -0%);
    }
  
  .carousel-caption h5{
    font-size: 35px;
  }

}

@media screen and (max-width:500px) {
   .carousel-caption h5{
    font-size: 25px;
   }

   .company_image{
    display: block;
   }
   .company_image img{
    display: block;
   }
}
/* media query end */